* {
  box-sizing: border-box;
}
div[class*="__inner"] {
  margin-right: auto;
  margin-left: auto;
  padding-left: 18px;
  padding-right: 18px;
}
@media (min-width: 480px) {
  div[class*="__inner"] {
    width: 1176px;
  }
}
.row {
  margin-left: -18px;
  margin-right: -18px;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 18px;
  padding-right: 18px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
body {
  background-color: #f0f2f5;
}
section {
  padding-bottom: 50px;
}
div[class*="__inner"] > h1 {
  padding-bottom: 10px;
}
.layout__item {
  background-color: #b3d4f9;
  height: 34px;
}
body {
  color: #3f3f3f;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
.header-underline:after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin-top: 10px;
}
h1,
.h1 {
  font-size: 32px;
  font-weight: normal;
}
h2,
.h2 {
  font-weight: normal;
  font-size: 28px;
}
h3,
.h3 {
  font-weight: normal;
  font-size: 22px;
}
h4,
.h4 {
  font-weight: bold;
  font-size: 16px;
}
p,
.p {
  font-size: 15px;
  line-height: 22px;
}
.links .a {
  font-size: 15px;
  color: #fc6e51;
}
.links .a:hover {
  text-decoration: none;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  min-width: 130px;
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 5px;
  padding: 10px 40px;
  box-sizing: border-box;
  vertical-align: bottom;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}
.btn--small {
  min-width: 100px;
  padding: 3px 20px;
  vertical-align: bottom;
}
.btn--grey {
  background-color: #536167;
  border-color: #3c464b;
}
.btn--grey:hover {
  background-color: #677980;
  border-color: #5c6c72;
}
.btn--grey:active {
  border: 0;
  background-color: #536167;
}
.btn--green {
  background-color: #a0d468;
  border-color: #87c940;
}
.btn--green:hover {
  background-color: #addf7a;
  border-color: #a0da65;
}
.btn--green:active {
  border: 0;
  background-color: #a0d468;
}
.btn--red {
  background-color: #fc6e51;
  border-color: #fb441f;
}
.btn--red:hover {
  background-color: #fb7f65;
  border-color: #fa6a4c;
}
.btn--red:active {
  border: 0;
  background-color: #fc6e51;
}
.img {
  height: 260px;
  border-radius: 5px;
}
.img img {
  max-width: 100%;
  height: 100%;
  border-radius: 5px;
}
.img-static {
  overflow: hidden;
}
.img-zoom {
  overflow: hidden;
  position: relative;
  z-index: 2;
  transition: all .4s;
  width: 260px;
  height: 260px;
}
.img-zoom:before {
  content: '';
  display: block;
  background: url(../pict/zoom.png) center center no-repeat #000000;
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  opacity: 0;
  transition: all .4s;
}
.img-zoom:hover:before {
  opacity: .7;
}
.img-tooltip {
  background: #f6f6f6;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: all .4s;
  cursor: pointer;
}
.img-tooltip__text {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 0px;
  font-size: 14px;
  line-height: 60px;
  position: absolute;
  display: block;
  bottom: 0px;
  left: 0;
  z-index: 2;
  transition: all .4s;
}
.img-tooltip:hover .img-tooltip__text {
  bottom: 0;
  height: 60px;
  color: #fff;
}
.img-flip {
  position: relative;
  z-index: 1;
  -webkit-perspective: 500;
          perspective: 500;
}
.img-flip__container {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: all 1.0s linear;
}
.img-flip:hover .img-flip__container {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.img-flip__front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin: 0 auto;
}
.img-flip__back {
  display: block;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
.img-flip__text {
  padding: 10px;
  color: #aaa;
  text-align: center;
  position: absolute;
}
.tabs-wrapper {
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}
.tabs {
  padding: 30px 30px 30px 30px;
  display: inline-block;
}
.tabs__list {
  padding-left: 0;
  display: inline-block;
  margin-bottom: 0;
}
.tabs__list-item {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-right: 5px;
  border-bottom-width: 0;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}
.tabs__list-item:last-of-type {
  margin-right: 0;
}
.tabs__list .active {
  background-color: #fc6e51;
  border: 1px solid #fc6e51;
  color: #fff;
  z-index: 1;
}
.tabs__content {
  display: none;
  border-top: 1px solid #ccc;
  position: relative;
  top: -1px;
}
.tabs__content.active {
  display: block;
  position: relative;
}
.tooltip-wrapper {
  padding: 30px;
  height: 120px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 30px;
}
a.tooltip {
  position: relative;
  display: block;
  text-align: center;
  margin: 0 auto;
  color: #fc6e51;
  background-color: #fff;
  font-size: 15px;
  font-style: italic;
  text-decoration: none;
}
a.tooltip span {
  position: absolute;
  color: #FFFFFF;
  background: #fc6e51;
  font-style: normal;
  height: 30px;
  font-size: 13px;
  line-height: 30px;
  padding: 0 10px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}
a.tooltip span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-bottom: 8px solid #FF6F3B;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltip span {
  visibility: visible;
  opacity: 1;
  top: 40px;
  left: 0;
  right: 0;
  margin: auto;
  width: auto;
  z-index: 999;
}
.owl-item {
  height: 340px;
  background-image: url(../pict/gravity.jpg);
  max-width: 100%;
  overflow: hidden;
  border-radius: 5px;
}
.owl-controls {
  width: 112px;
  padding-top: 18px;
  margin: 0 auto;
}
.owl-controls .owl-navigation {
  height: 12px;
  width: 12px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
}
.owl-controls .owl-prev {
  background-image: url(../pict/slider-left.png);
  height: 12px;
  width: 12px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
  float: left;
  margin-right: 14px;
}
.owl-controls .owl-next {
  background-image: url(../pict/slider-right.png);
  height: 12px;
  width: 12px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
  float: right;
  margin-left: 14px;
}
.owl-controls .owl-dot {
  background-image: url(../pict/slider-item.png);
  height: 12px;
  width: 12px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
  float: left;
  margin: 0 4px;
}
.owl-controls .owl-dots .active {
  background-image: url(../pict/slider-active.png);
  height: 12px;
  width: 12px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
}
/*мои личные ПЕРСОНАЛЬНЫЕ цвета*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
