.img{
	height: 260px;
	border-radius: 5px;


	img {
			max-width: 100%;
			height: 100%;
			border-radius: 5px;
		}
}

.img-static{
		overflow: hidden;
}



.img-zoom {
	overflow: hidden;
  position: relative;
	z-index: 2;
  transition: all .4s;
  width: 260px;
  height: 260px;


  		&:before {
  					content: '';
					  display: block;
					  background:#000;
						cursor: pointer;
						height: 100%;
						width: 100%;
						position: absolute;
						z-index: 10;
						opacity: 0;
				    transition: all .4s;
  		}
			
			&:after {
						content: '';
					  display: block;
					  background:url(../pict/zoom.png) center center no-repeat;
						cursor: pointer;
						height: 100%;
						width: 100%;
						position: absolute;
						top: 0;
						z-index: 20;
						opacity: 0;
				    transition: all .4s;
			}

  		&:hover:before{
  					opacity: .7;
  		}
  		&:hover:after {
  					opacity: 1;
  		}
}



.img-tooltip {
    background:#f6f6f6;
    text-align:center;
    position: relative;
    overflow:hidden;
    transition: all .4s;
    cursor:pointer;
		

		&__text {
				background: rgba(0, 0, 0, 0.5);
		    width:100%;
		    height:0px;
		    font-size:14px;
		    line-height:60px;
		    position:absolute;
		    display:block;
		    bottom:0px;
		    left:0;
		    z-index: 2;
		    transition: all .4s;
		}

		&:hover &__text{
				bottom:0;
		    height:60px;
		    color: #fff;
		}
}


.img-flip {
	position: relative;
	z-index: 1;
	perspective: 500;


		  &__container {
		  		width: 100%;
				  height: 100%;
				  transform-style: preserve-3d;
				  transition: all 0.5s ease;
		  }

			&:hover &__container {
					transform: rotateY(180deg);
			}

			&__front {
					position: absolute;
				  width: 100%;
				  height: 100%;
				  backface-visibility: hidden;
				  margin: 0 auto;
			}

			&__back {
					display: block;
				  transform: rotateY(180deg);
				  box-sizing: border-box;
				  width: 100%;
				  height: 100%;
				  backface-visibility: hidden;
				  margin: 0 auto;
				  border: 1px solid #ccc;
				  border-radius:5px; 
				  background-color: #fff;

			}

			&__text {
					padding: 30% 20px;
				  color: #aaa;
				  text-align: center;
				  position: absolute;
			}
}